#!/usr/bin/env bash

alias gl='git line'
alias glnu='git line nuke'
alias glcl='git line close'
alias glfi='git line fixup'
alias glre='git line remove'
alias glsq='git line squash'
alias glst='git line start'
alias glsw='git line switch'
alias glup='git line update'