#!/usr/bin/env bash

alias gl='git line'
alias glcle='git line clean'
alias glclo='git line close'
alias glfi='git line fixup'
alias glr='git line remove'
alias glq='git line squash'
alias glst='git line start'
alias glsw='git line switch'
alias glu='git line update'